<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="products.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>CW1 IW</title>
</head>
<body>
    
    <!-- the canvas -->
    <div class="container">
        <header>
        <div>
            <h1 v-text="sitename"></h1>
        </div>
        <button v:on-click="toggleShowProduct">
            {{totalItemsInTheCart}}
            <span class="fas fa-shopping-cart"></span>View Cart </button>
        <div id="Banner">
            <input type="radio" value="product.subject">
            <input type="radio" value="product.location">
            <input type="radio" value="product.price">
            <input type="radio" value="product.space"> 
        </div>
        </header>
        <div class="groupWork" id="groupWork">
            <div v-if="showProduct">
            <div v-for="product in products" id="prod">

                <ul>
                    <ol>Subject: {{product.subject}}</ol> 
                    <ol>Location: {{product.location}}</ol>
                    <ol>Price: {{product.price}}</ol> 
                    <ol>Spaces: {{product.space}}</ol> 
                    <ol><img v-bind:src="product.image"></ol>
                </ul>
            
            
            <!-- add to cart button -->
            <button v-on:click="addItemToCart(product)" v-if="canAddToCart(product)">Add to Cart</button> 
            <!-- disable button if all the items are added to the cart -->
            <div v-else>
                <button disabled>Add to Cart</button>
            </div>

            <span v-if="itemsLeft(product) === 0">Sold Out!</span> 
                    <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span> 
                    <span v-else>Available!</span> 
            </div>
        </div>
            <button v-on:click="sortedProductsA(a, b)" id="Ascending">Ascending</button>
            <button v-on:click="sortedProductsB(a, b)" id="Descending">Descending</button>
    </div>
        <div id="Checkout">
            <h1>Checkout</h1>
            
            </button>
            <p>
                <strong>Name: </strong>
                <input v-model="order.Firstname"/>
            </p>
            <p>
                <strong>Surname: </strong>
                <input v-model="order.Phonenumber"/>
            </p>
            <h3>Order Confirmation</h3>
            <p>Name: {{order.name}}</p>
            <p>Surname: {{order.surname}}</p>
        </div>
    </div>
</div>
    
    <!-- The Script -->
    <script>
    let afterSchoolClub = new Vue({
        el:'.container', 
        data: { 
            sitename: "CW1 Vue App",
            showProduct: true,
        products: products,
        cart:[],
        order: {
            Firstname: "",
            Phonenumber: ""
        },
    },
    methods: {
            addItemToCart: function(product) {
                this.cart.push(product.id,);
            },
            canAddToCart(product) {
                return product.space > this.cartCount(product.id);
            },
            toggleShowProduct() {
                this.showProduct = this.showProduct ? false : true;
            },
            cartCount(id) {
                let count = 0;
                for (let i = 0; i < this.cart.length; i++) {
                    if (this.cart[i] === id) {
                        count++;
                    }
                }
                return count;
            },
            itemsLeft(product) {
                return product.space - this.cartCount(product.id);
            },
        },
        computed: {
            totalItemsInTheCart: function() {
                return this.cart.length || "";
            },
            sortedProductsA() {
                function ascending(a, b) {
                    if (a.location > b.location) return 1;
                    if (a.location < b.location) return -1;
                    return 0;
                } 
                return this.products.sort(ascending);
            },
            sortedProductsB() {
                function descending(a, b) {
                    if (a.location > b.location) return -1;
                    if (a.location < b.location) return 1;
                    return 0;
                }
                return this.products.sort(descending);
            },
            // sortedProducts() {
            //     if(this.products.length > 0) {
            //         let productsArray = this.products.slice(0);
            //         function compare (a, b) {
            //             if(a.location.toLowerCase() < b.location.toLowerCase())
            //             return -1;
            //             if(a.location.toLowerCase() > b.location.toLowerCase())
            //             return 1;
            //         return 0;
            //         }
            //         return productsArray.sort(compare);
            //     }
            // },
        }
    })
    </script>
</body>
</html>