* {
   box-sizing: border-box; 
}
body {
    color: black;
    height: 100%;
    width: 3500px;
    position: relative;
    padding: 20px;
}

#container {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}
#ShoppingCart {
    position: relative;
    top: -15px;
    color: aqua;
}
#Banner {
    position: relative;
    top: -11px;
    color: blue;
}

/* .productContainer {
    position: relative;
    display: flex;
    left: 10px;
}

.productContainer button, span {
    position: relative;
    top: -5px;
    left: 30px;
    margin-bottom: 10px
}

.productContainer ul {
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
} */

ul {
    position: relative;
    color: black;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightblue;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin: 30px 0px 20px 10px;
    padding: 2px;
}

ol {
    padding: 0;
    margin: 0;
    width: 200px;
}

img {
    display: block;
    position: absolute;
    top: -10px;
    left: 200px;
}
#App {
    border: 2px solid black;
    border-radius: 15px;
    background-color: lightgoldenrodyellow;
    width: 30%;
    position: relative;
    padding: 0;
    margin: 0;
}
button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    background-color: lightcyan;
    text-decoration: black;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
} 
.search-container {
    position: absolute;
    top: 65px;
    left: 200px;
}
#sorting {
    position: absolute;
    top: 115px;
    flex-direction: row;
}

.fa-shopping-cart {
    position: relative;
    color: red;
    left: -2px;
    top: 1px;
}

@media screen and (max-width: 1170px) {
    .groupWork {
        width: 23%;
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
}